@font-face {
  font-family: "TT Commons-Black";
  src: url("../fonts/TTCommons-Black.woff2") format("woff2"),
  url('../fonts/TTCommons-Black.woff') format("woff");
  font-style: normal;
}

@font-face {
  font-family: "TT Commons-Bold";
  src: url("../fonts/TTCommons-Bold.woff2") format("woff2"),
  url("../fonts/TTCommons-bold.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "TT Commons-DemiBold";
  src: url("../fonts/TTCommons-DemiBold.woff2") format("woff2"),
  url("../fonts/TTCommons-DemiBold.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "TT Commons-ExtraBold";
  src: url("../fonts/TTCommons-ExtraBold.woff2") format("woff2"),
  url("../fonts/TTCommons-ExtraBold.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "TT Commons-Medium";
  src: url("../fonts/TTCommons-Medium.woff2") format("woff2"),
  url("../fonts/TTCommons-Medium.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "TT Commons-Regular";
  src: url("../fonts/TTCommons-Regular.woff2") format("woff2"),
  url("../fonts/TTCommons-Regular.woff") format("woff");
  font-style: normal;
}